<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<string>http://yx.ahycgy.com.cn:8080 http://yx.ahycgy.com.cn/ahsale_new</string>
	<key>downloadImage</key>
	<string>http://yx.ahycgy.com.cn:8080/ipad.file?method=download&amp;savedFileName=</string>
	<key>serverHost</key>
	<string>http://yx.ahycgy.com.cn:8080</string>
</dict>
</plist>
